.btn-blue {
  @apply bg-blue text-white px-8 py-4 rounded-full;
  &:not(.disabled) {
    &:hover {
      @apply bg-blue-darker;
    }
  }
  transition: 0.2s background;
  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
