body {
  background: linear-gradient(to bottom right, #fff, #ececec);
  font-family: 'Montserrat';
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  -webkit-user-select: none;
  cursor: default;
}

button {
  outline: none;
  &:focus {
    outline: none;
  }
}

.top-left-0 {
  top: 0;
  left: 0;
}

.--appbarpad {
  padding-top: 30px;
}

.--appbarmargin {
  margin-top: 30px;
}

.--apppad {
  padding-left: 40px;
  padding-right: 40px;
}

@import './transitions';
